.vscode/
.DS_Store
__pycache__/
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
*.pt
*.pth
*.avi
sam2.1_hiera_large.pt# Virtual Environment
venv/
env/
.venv/
# Video files
*.avi
*.mp4
*.mov
# Compiled files
*.so
*.pyc
__pycache__/
